<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="fr.l127.ressourceGraphique.design.Activator"
               id="fr.l127.ressourceGraphique.design"
	       name="ressourceGraphique">
    </component>
  </extension>
</plugin>
